
/* .hidden{

} */
*{
  padding: 0;
}

body{
  
   background-image: url("C:\Users\mnisa\Desktop\bgirisfe\sbanreac\public\banka.jpg");
 
  background-size: 100%; 
 
}
 /* button { 
  background-color: #1851ad; 
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  margin-left: 35%;
  margin-top :25px;
  text-decoration: none;
  border-radius: 50px;
  font-size: 16px;} */

ul{
  list-style-type:none
}
.cent{
  text-align: center;
}
.boxx{
  width: 800px;
  height:600px;
   position: absolute;  
   bottom: 0px; 
  background-color:#594f52e2;
   left: 38%; 
   margin-left: -160px;
  margin-top: -45px; 
  border-radius: 45px 45px 0 0;
  
  
}
.Usrname{
 margin-left:35% ;
  font-size: 30px;
  color: aliceblue;
}
.Usradd{
  background-color: #1851ad; /* Green */
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  margin-left: 35%;
  margin-top :25px;
  text-decoration: none;
  border-radius: 50px;
  font-size: 16px;
}
h1{
  font-size: 60px;
  color: white;
  text-align: center;
}
h2{

}
h4{
  font-size: 30px;
  color:white;
  text-align: center;
}
.uname{
  margin-left: 20%;
  font-size: 30px;
}
.boxpozition{
  margin-top: 15%;
}
.Actbox{
 
  
  width: 300px;
  height: 320px;
   position:relative;  
    
  background-color:#594f52e2;
  float: left;
 margin-left: 100px;
  border-radius: 20px;
  left: 0%;
  
}
.actbaloon{
  width: 270px;
  height:270px;
   position:relative;  
    
  background-color:#594f52e2;
 
 margin-left: 120px;
  border-radius: 20px;
  left: 30%;
}
.hstboxx{
  width: 1035px;
  height:530px;
   position: absolute;  
   bottom: 0px; 
  background-color:#594f52e2;
   left: 22%; 
   
  margin-top: -45px; 
  border-radius: 45px 45px 0 0;
}
.mnym{
  font-size: 15px;
}
.mnyadd{background-color: #2bcc33; /* Green */
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px; ;
  margin-left: 15%;
  margin-top :10px;
  text-decoration: none;
  border-radius: 30px;
  font-size: 10px;

}
.mnypl{
  background-color: #ff0101; /* Green */
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px; ;
  margin-left: 15%;
  margin-top :10px;
  text-decoration: none;
  border-radius: 30px;
  font-size: 10px;
}
.btnhstry{
  background-color: #00aeff; /* Green */
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px; ;
  margin-left: 60%;
  margin-top :15px;
  text-decoration: none;
  border-radius: 30px;
  font-size: 10px;


}